*{
    box-sizing: 0;
    margin: 0;
    padding: 0;
}
.hero {
    background-image: url(sky.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 96vh;
}
.highway {
    background-image: url(road.jpg);
    width: 500%;
    height: 200px;
    position: absolute;
    bottom: 0;
    display: block;
    background-repeat: repeat-x;
    animation: highway 3s linear infinite;
}
@keyframes highway {
    100% {
        transform: translateX(-3400px);
    }
}
.city {
    background-image: url(city.png);
    width: 500%;
    height: 250px;
    position: absolute;
    bottom: 200px;
    background-repeat: repeat-x;
    display: block;
    animation: city 20s linear infinite;
}
@keyframes city {
    100% {
        transform: translateX(-1400px);
    }
}
.car {
    width: 400px;
    position: absolute;
    left: 37.2%;
    bottom: 100px;
    transform: translateX(-50%);
}
.car img {
    width: 100%;
    animation: car 2s linear infinite;
}
@keyframes car {
    100% {
        transform: translateY(5px);
    }
    50% {
        transform: translateY(0px);
    }
    0% {
        transform: translateY(5px);
    }
}
.wheel {
    position: absolute;
    bottom: 179px;
    left: 37.2%;
    transform: translateX(-50%);
}
.wheel img {
    width: 72px;
    height: 72px;
    animation: wheel 1s linear infinite;
}
.backwheel {
    position: absolute;
    left: -165px;
}
.frontwheel {
    position: absolute;
    left: 80px;
}
@keyframes wheel {
    100% {
        transform: rotate(360deg);
    }
}